body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 12px;
  color:green;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #00c6ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0072ff;
}
